
.navbar{
	margin: 0;
	border-radius: 0;
	background-color: #2980b9;
	border: none;
}
.navbar-brand{
	color: white !important;
}
#map{
	height: 95%;
	z-index: 0;
}
#news{
	
}
#click_popup_right{
	height: 83%;
	position: absolute;
	top:8%;
	width: 45%;
	left: 50%;
	background-color: rgba(236, 240, 241,1);
	color: black;
	z-index: 100000;
	margin: 20px;
	border-radius: 5px;
	padding: 10px 20px 10px 20px;
}

.line{
	border-bottom: 1px solid black;
	height: 1px;
}
.center{
	text-align: center;
}
.newsitem{
	font-size: 18px;
    padding: 10px;
    margin: 10 0 10 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}
body{
	overflow: hidden;
}