<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="/static/css/styles.css" rel="stylesheet">
	<title>Domain</title>
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="" class="navbar-brand">Domain</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      		<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	</div>
</nav>
<div  style="height: 30%;width: 20%;background-color: gray;z-index: 10000;position: absolute;top:10%;left: 60%;">
	<div style="position: relative;bottom: 0;float: right;" id="kill">xxxxxx</div>
	<div id="news"></div>
</div>
<div id="map" style="height: 90%;z-index: 0"></div>
<script src="../static/js/map.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwWGBHOn0p3WWAZO-V-iuS_S0jelgOXTI&callback=initMap"></script>

<body>
	
</body>
</html>